body{
    background: rgb(103,16,157);
    background: linear-gradient(176deg, rgba(114,15,176,1) 0%, rgba(0,0,0,1) 74%);
    background-repeat: none;
    height: 120vh;
    color: whitesmoke;
}

.logo-shuriken{
    width: 40px;
    height: auto;
}

.game-block-row{
    padding-top: 6em;
}

.game-block{
    max-width: 600px;
    border-radius: 8px;
    background-color: rgba(49, 49, 49, 0.439);
    border: 1px solid rgba(163, 163, 163, 0.4);
}

p, label{
    font-size: 1.2em;
}
